.unauth-container {
  /* padding: 20px; */
  text-align: center;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.banner-image {
  width: 100%;
  height: auto;
  /* border-radius: 10px; */
  margin-bottom: 20px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-button {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-button {
  background-color: #3fd2ff;
  color: white;
  width: 30%;
}

.register-button {
  background-color: #6c3fff;
  color: white;
  width: 30%;
}
