.phone-frame {
  display: flex;
  width: 375px;
  height: 812px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  font-family: Arial, sans-serif;
  margin-top: 50px;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tiled-background {
  background-image: url("../assets/NTlogoTiled.png");
  background-repeat: repeat;
  background-size: 200px 200px;
}

.unauth-container {
  /* padding: 20px; */
  text-align: center;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.banner-image {
  width: 100%;
  height: auto;
  /* border-radius: 10px; */
  margin-bottom: 20px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-button {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-button {
  background-color: #3fd2ff;
  color: white;
  width: 30%;
}

.register-button {
  background-color: #6c3fff;
  color: white;
  width: 30%;
}
